* {
    margin: 0;
    padding: 0;
}

.mano {
    width: 100%;
    background: linear-gradient(217deg, rgba(129, 6, 163, 0.8), rgba(67, 5, 111, 0) 70.71%), linear-gradient(127deg, rgba(21, 10, 176, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%), url(rj.jpg);
    background-position: center;
    background-size: cover;
    height: 860px;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Verdana;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(243, 234, 245);
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: aquamarine;
    font-family: verdana;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: aliceblue;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.pesquisa {
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(0, 4, 4);
    margin-top: 13px;
    border-radius: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.botao {
    width: 100px;
    height: 40px;
    background: rgb(21, 6, 91);
    border: 2px rgb(73, 133, 114);
    margin-top: 13px;
    color: aliceblue;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.botao:hover{
background-color: rgb(10, 91, 205);
}

.botao:focus {
    outline: none;

}

.pesquisa:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: aliceblue;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(27, 77, 77);
}

.content .cn {
    width: 160px;
    height: 40px;
    background: rgb(53, 4, 122);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a {
    text-decoration: none;
    color: rgb(150, 55, 238);
    transition: .3s ease;
}

.cn:hover {
    background-color: aliceblue;
}

.content span {
    color: rgb(21, 6, 91);
    font-size: 60px;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(1, 22, 22);
}

.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(#4845e1, #9198e5);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(94, 8, 61);
    font-size: 22px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(27, 77, 77);
    border-top: none;
    border-right: none;
    border-left: none;
    color: aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: aliceblue;
    font-family: arial;
}

.botaum {
    width: 240px;
    height: 40px;
    background: rgb(223, 223, 221);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
}

.botaum:hover {
    background: rgb(6, 84, 186);
    color: rgb(0, 1, 1);
}

.botaum a {
    text-decoration: none;
    color: rgb(0, 2, 8);
    font-weight: bold;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: rgb(1, 17, 17);
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: rgb(20, 4, 92);
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: aliceblue;
}

.icons ion-icon {
    color: rgb(139, 12, 170);
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: aliceblue;
}
